# code: language=ansible
---
- name: Extract Caddy
  become: true
  ansible.builtin.unarchive:
    src: "{{ install_caddy_home }}/caddy.tar.gz"
    dest: "{{ install_caddy_home }}"
    mode: "0644"
    remote_src: true
    owner: "{{ install_caddy_user }}"
    group: "{{ __caddy_user.group }}"
  notify: Copy Caddy binary

- name: Copy Caddy binary
  become: true
  ansible.builtin.copy:
    src: "{{ install_caddy_home }}/caddy"
    dest: /usr/local/bin/caddy
    force: true
    mode: "0755"
    remote_src: true
  notify: Delete Caddy downloads

- name: Delete Caddy downloads
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ install_caddy_home }}/caddy"
    - "{{ install_caddy_home }}/caddy.tar.gz"

- name: Reload caddy
  when: ansible_facts['service_mgr'] == "systemd"
  ansible.builtin.systemd_service:
    name: caddy
    state: reloaded
    enabled: true
    daemon_reload: true

- name: Restart caddy
  when: ansible_facts['service_mgr'] == "systemd"
  ansible.builtin.systemd_service:
    name: caddy
    state: restarted
    enabled: true
    daemon_reload: true

- name: Restart caddy
  when: ansible_facts['service_mgr'] == "openrc"
  become: true
  ansible.builtin.service:
    name: caddy
    state: restarted
