{{ ansible_managed | comment(decoration="; ") }}

[Unit]
Description=Caddy HTTP/3 web server
Documentation=https://caddyserver.com/docs
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
{% if install_caddy_systemd_version | int >= 230 %}
StartLimitIntervalSec={{ install_caddy_restart_interval }}
StartLimitBurst={{ install_caddy_max_number_restarts }}
{% endif %}

[Service]
Restart={{ install_caddy_restart_mode }}
RestartSec={{ install_caddy_restart_wait_sec }}
{% if install_caddy_systemd_version | int < 230 %}
StartLimitInterval={{ install_caddy_restart_interval }}
StartLimitBurst={{ install_caddy_max_number_restarts }}
{% endif %}

User={{ install_caddy_user }}
Group={{ __caddy_user.group }}

ExecStart="/usr/local/bin/caddy" run --environ --config "/etc/caddy/Caddyfile" {{ install_caddy_additional_args }}
ExecReload="/usr/local/bin/caddy" reload --config "/etc/caddy/Caddyfile"

; Limit the number of file descriptors; see `man systemd.exec` for more limit settings.
LimitNOFILE=1048576
{% if install_caddy_number_of_threads > 0 %}
; Limit the number of caddy threads.
LimitNPROC={{ install_install_caddy_number_of_threads }}
{% endif %}

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=full
ReadWriteDirectories=/var/lib/caddy /var/log/caddy

; The following additional security directives only work with systemd v229 or later.
; They further retrict privileges that can be gained by caddy.
; Note that you may have to add capabilities required by any plugins in use.
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

{% if install_caddy_environment_variables|length %}

; Additional environment variables:

{% for key, value in install_caddy_environment_variables.items() %}
Environment={{ key }}={{ value }}
{% endfor %}
{% endif %}

{% if install_caddy_environment_files|length %}

; Additional environment files:

{% for path in install_caddy_environment_files %}
EnvironmentFile={{ path }}
{% endfor %}

{% endif %}
[Install]
WantedBy=multi-user.target
